body,
html {
  padding: 0;
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#thruster-button {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
}

#thruster-button:active {
  opacity: 0.8;
}

#joystick-root {
  position: absolute;
  bottom: 30px;
  left: 30px;
  min-width: 100px;
  min-height: 100px;
}

.hidden-img {
  display: none;
}

.front {
  background: center / 200% no-repeat url(joystick.png) !important;
  opacity: 1 !important;
}

.back {
  opacity: 0.3 !important;
}
